[submodule "React-Native-PortFolio"]
	path = React-Native-PortFolio
	url = https://github.com/priyanshu2304/airbnb.git
[submodule "airbnb"]
	path = airbnb
	url = https://github.com/priyanshu2304/airbnb.git
[submodule "zomato"]
	path = zomato
	url = https://github.com/priyanshu2304/Zomato-clone.git
[submodule "App01"]
	path = App01
	url = git@github.com:priyanshu2304/app1.git
[submodule "Styler02"]
	path = Styler02
	url = https://github.com/priyanshu2304/styler02.git
