[submodule "React-Native-PortFolio"]
	path = React-Native-PortFolio
	url = https://github.com/priyanshu2304/airbnb.git
[submodule "airbnb"]
	path = airbnb
	url = https://github.com/priyanshu2304/airbnb.git
